 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*mobile and global first*/

body {
    background-color: darkseagreen;
    
    margin: 10px;
}

.error{
  width: 100px;
    height:100px;
    border: 9px solid pink;
}
    
}.x{
  
    background: red;
    position: absolute;
    right: 0;
    top: 0;
        
    
}
